@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
*, *:before, *:after {
    box-sizing: border-box;
}

.lighter-text {
    color: #ABB0BE;
}

.main-color-text {
    color: #30b1bf;
}

.container {
    margin: auto;
    width: 80%;
}

.badge {
    background-color: #30b1bf;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.shopping-cart {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    float: right;
    background: white;
    width: 320px;
    position: absolute;
    border-radius: 3px;
    padding: 20px;
    border:2px solid black;;
    z-index:999;
    top:100%;
    margin:auto;
    display: none;
    right:10%;
}
.shopping-cart .shopping-cart-header {
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
}
.shopping-cart .shopping-cart-items {
    padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
    margin-bottom: 18px;
}
.shopping-cart .shopping-cart-items img {
    float: left;
    margin-right: 12px;
}
.shopping-cart .shopping-cart-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}
.shopping-cart .shopping-cart-items .item-price {
    color: #30b1bf;
    margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
    color: #ABB0BE;
    float:right;
}

.shopping-cart:after {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    /*border-bottom-color: black; OVO JE ZA STRELICU*/
    border-width: 8px;
    margin-left: -8px;

}

.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

#pregled-button {
    background: #30b1bf;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
    width:100%;
    cursor:pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    border: 2px solid #30b1bf;
    text-transform: none;
    line-height: 1.5;
}
#pregled-button:hover {
    background: white;
    color: #30b1bf;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
