@media (max-width: 1199.98px) { 
    .header .call_btn a {
        width: 140px;
        margin-left: 30px;
    }
    .header.header .nav-link {
        margin-right: 20px;
    }
    
    .counter span {
        font-size: 40px;
    }
    .counter sup {
        font-size: 30px;
    }
    .counter h3 {
        font-size: 20px;
    }
    .pricePlan .p_box h3 {
        font-size: 24px;
    }
    .counter {
        padding: 60px 0px 60px;
    }
    .category-content-area .category-sidebar .category-filter-widget {
        padding: 38px 15px 35px 15px;
    }
    .right-content-area {
        margin-top: 50px;
    }
    .cart-content-area .right-content-area {
        margin-top: 0px;
    }
    .blogDetails .relative-item p {
        font-size: 12px;
    }
    .blogDetails .relative-item span {
        padding-top: 0px;
        font-size: 12px;
    }
    .blogDetails .details-sulf ul li {
        display: inline;
        padding: 0 4px;
    }
    .team .t-box .img {
        position: relative;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 30px;
        width: 204px;
        height: 244px;
    }
    .checkout-page-content-area .right-content-area .credit-card-area .left-content {
        display: block;
    }
    .checkout-page-content-area .right-content-area .credit-card-area .right-content {
        display: block;
        float: none;
        margin-top: 16px;
        margin-bottom: 30px;
    }
    .checkout-page-content-area {
        padding: 120px 0 120px 0;
    }
    .serviceSlider {
        margin-left: -8px;
    }
    .services .sBox .img {
        width: 150px;
        height: 150px;
    }
    .services .sBox .img::before {
        width: 170px;
        height: 170px;
    }
    .services .sBox .img img {
        width: 60px;
        height: 60px;
    }
    .services h3 {
        font-size: 28px;
    }
    .video h2 {
        font-size: 30px;
    }
    .appoinmentBox .left h2 {
        font-size: 36px;
    }
    .appoinmentBox .left span {
        font-size: 36px;
    }
    .blog-box h3 {
        font-size: 20px;
        margin: 12px 0px 25px;
        line-height: 27px;
    }
    .copyRightArea {
        margin-top: 120px;
    }
    .category-content-area.search-page {
        padding: 118px 0 120px 0;
    }
    .serviceSection {
        padding: 60px 0px 60px;
    }
}


@media (max-width: 991.98px) { 
    header.header {
        padding: 15px 0px 15px;
    }
    .header.header .nav-link {
        padding: 10px 0px 10px;
        display: inline-block;
    }
    .header .call_btn a {
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 35px;
    }
    .header.header .nav-link.active::before{
        display: none;
    }
    #navbarSupportedContent ul{
        padding-top: 33px;
    }
    .feature .f-box h5 {
        font-size: 18px;
    }
    h2 {
        font-size: 40px;
    }
    .counter {
        padding: 60px 0px 60px;
    }
    .pricePlan .p_box{
        margin-bottom: 0px;
    }
    .pricePlan {
        padding: 60px 0px 60px;
    }
    .footer .widget3 h5 {
        margin-top: 35px;
        margin-bottom: 34px;
    }
    .footer .widget4 h5 {
        margin-top: 35px;
        margin-bottom: 34px;
    }
    .copyRightArea {
        margin-top: 100px;
    }
    .service .s-box h3 {
        font-size: 24px;
    }
    .counter .c-box {
        border: 2px solid rgba(255, 255, 255, 0.3);
        padding: 37px 15px 44px;
        text-align: center;
        margin-bottom: 30px;
    }
   
    .SelectArea select {
        width: 100%;
        height: 50px;
        border: 2px solid #f1f1f1;
        border-radius: 4px;
        padding: 0px 20px;
        color: rgb(153, 153, 153);
        margin-bottom: 24px;
    }
    .SelectArea .csLast{
        margin-bottom: 0px;
    }
    .category-content-area ul.pagination {
        margin-top: 19px;
        margin-bottom: 70px;
    }
    .cart-content-area .cart-content-inner .bottom-content .left-content-area {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
    }
    .blog-details-right {
        margin-top: 70px;
    }
    .blogDetails {
        padding: 120px 0px 114px;
    }
    .team .t-box .right {
        position: relative;
        top: -12px;
    }
    .member .t-box .img img{
        width: 100%;
    }
    .team {
        padding: 60px 0px 60px;
    }
    .banner h1 { 
        line-height: 50px;
        font-size: 50px;
    }
    .banner {
        padding: 108px 0px 150px;
    }
    .services .sBox {
        margin-bottom: 53px;
    }
    .services {
        padding: 130px 0px 57px;
    }
    .giftCard .mycard {
        margin-bottom: 30px;
    }
    .giftCard {
        padding: 117px 0px 90px;
    }
    .vImg {
        border: 10px solid #f19e8e;
        text-align: center;
        padding: 30px;
        margin-bottom: 30px;
    }
    .counter span {
        margin-top: 14px;
        display: inline-block;
    }
    .appoinmentBox .right {
        float: left;
    }
    .appoinmentBox .right a {
        margin-top: 16px;
    }
    .appoinmentSection {
        padding: 92px 0px 100px;
    }
    .openingChart {
        margin-top: 30px;
    }
    .news {
        padding: 112px 0px 91px;
    }
    .spabreadcrumb {
        padding: 112px 0px 113px;
    }
    .single-new-collection-item .thumb img {
        width: 100%;
    }
    .spabreadcrumb.extrapadding {
        padding-bottom: 118px;
    }
    .sectionTheading h2 {
        margin-bottom: 11px;
    }
    .serviceSection {
        padding: 60px 0px 60px;
    }
}

@media (max-width: 767.98px) { 
    .banner h1 {
        line-height: 60px;
        font-size: 50px;
        color: #fff;
    } 
    .banner .content{
        text-align: center;
    }
    .banner{
        position: relative;
    }
    .banner .bannerOverlay{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.60);
    }
    .banner .tagline {
        color: #fff;
    }
    .banner {
        padding: 108px 0px 150px;
    }
   .service h3 {
        font-size: 20px;
    }
    .counter {
        padding: 60px 0px 60px;
    }
    .video .v-box a {
        top: 50%;
        transform: translateX(-50%);
        top: -55px;
        left: 50%;
    }
    .video .v-box {
        padding: 95px 40px 50px 40px;
    }
    .video {
        padding: 60px 0px 60px;
    }
     .footer .widget2 h5{
        margin-top: 55px;
    } 
    .SelectArea button {
        margin-top: 30px;
    }
    .yogabreadcrumb {
        padding: 141px 0px 145px;
    }
    .single-new-collection-item .thumb {
        text-align: center;
    }
    .product-details-content-area .right-content-area .bottom-content .price-area .right .size {
        position: relative;
        top: -13px;
    }
    .blog-box .topImg img {
        width: 100%;
    }
    .product-details-tab-nav .nav.nav-tabs:after{
        display: none;
    }
    .product-details-tab-nav .nav.nav-tabs .nav-item .nav-link {
        width: 150px;
        border-radius: 4px;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .product-details-tab-nav .nav.nav-tabs .nav-item {
        margin: 0 5px;
    }
    .product-details-area .item_review_content {
        padding-top: 20px;
    }
    .product-details-content-area .right-content-area .bottom-content .title {
        font-size: 24px;
    }
    .product-details-content-area .right-content-area .bottom-content .price-area .left {
        font-size: 28px;
        font-weight: 400;
    }
    .product-details-content-area .right-content-area .bottom-content .pdescription .title {
        font-size: 24px;
    }
    .product-details-area .title {
        font-size: 24px;
    }
    .product-details-content-area .right-content-area .bottom-content .paction .btn-wrapper .boxed-btn {
        width: 170px;
        letter-spacing:0px;
        border-radius: 4px;
        height: 50px;
        line-height: 50px;
    }
    .blogDetails .details-sulf ul li {
        display: inline-block;
        margin-bottom: 14px;
    }
    .blogDetails .details-text {
        padding: 25px 20px 5px 20px;
    }
    .faq-page-content-area .faq-search-wrapper .title {
        font-size: 24px;
    }
    .faq-page-content-area .faq-search-wrapper {
        padding: 50px 30px 60px 30px;
    }
    .signup-page-wrapper .right-contnet-area {
        padding: 73px 40px 78px 40px;
    }
    .banner h1 {
        line-height: 50px;
        font-size: 40px;
    }
    .banner .tagline {
        font-size: 16px;
        line-height: 40px;
    }
    .services .sBox .img {
        width: 120px;
        height: 120px;
    }
    .services .sBox .img::before {
        width: 140px;
        height: 140px;
    }
    .services h3 {
        font-size: 22px;
    }
    .cardImage img {
        width: 100%;
    }
    .appoinmentBox .left h2 {
        font-size: 30px;
    }
    .appoinmentBox .left span {
        font-size: 30px;
    }
    .openingLeft .right h2 {
        font-size: 35px;
        line-height: 60px;
    }
    .logRegForm .loginwithfb {
        margin-bottom: 30px;
    }
    .logRegForm .loginnow {
        margin-bottom: 30px;
    }
    .error-content .error-title {
        font-size: 150px;
        line-height: 160px;
    }
    .error-content a {
        font-size: 18px;
    }
    .giftCard {
        padding: 113px 0px 90px;
    }
    .appoinmentSection {
        padding: 93px 0px 100px;
    }
    .pricePlan {
        padding: 60px 0px 60px;
    }
    .news {
        padding: 60px 0px 60px;
    }
    .contact-wrap {
        padding: 117px 0px 120px;
    }
    .serviceSection {
        padding: 60px 0px 60px;
    }
    .blogDetails .details-sulf ul li a {
        font-size: 14px;
    }
    .blogDetails .details-sulf ul li {
        padding: 0 0px;
    }
    .not-found-wrap {
        padding: 87px 0 120px;
    }
}

@media (max-width: 575.98px) { 
    .navbar-light .navbar-brand img{
        margin-left: 15px;
    }
    .feature .f-box {
        margin-bottom: 48px;
    }
    .feature {
        padding: 108px 0px 90px;
    }
    
    .footer .widget4 h5 {
        margin-top: 27px;
    }
    .category-content-area .banner-img {
        text-align: center;
    }
    .error-404-content-area .right-content-area .title {
        font-size: 100px;
        line-height: 100px;
        margin-bottom: 10px;
    }
    .contact-info-area .map-wrapper #map {
        margin-top: 27px;
    }
    .banner .tagline {
        font-size: 16px;
        line-height: 40px;
        margin-bottom: 0px;
    }
    div#navbarSupportedContent {
        padding-left: 30px;
    }
    .contact-form h2 {
        font-size: 30px;
        margin-top: 27px;
    }
    .contact-form h2 {
        font-size: 22px;
    }
    .error-content .error-title {
        font-size: 100px;
        line-height: 100px;
        margin-top: 6px;
    }
    .error-content .title {
        font-size: 40px;
    }
    #map {
        width: 100%;
        height: 500px;
    }
    .address h3 {
        font-size: 22px;
    }
    .address h4 {
        font-size: 16px;
    }
    .counter i {
        font-size: 60px;
    }
    .product-details-tab-nav .nav.nav-tabs .nav-item {
        display: block;
    }
    .not-found-wrap {
        padding: 96px 0 120px;
    }
    .sectionTheading h2 {
        margin-bottom: 7px;
    }

 }


@media (max-width: 500px) { 
    .service .box1 .h2 .count {
        font-size: 40px;
    }
    .cart-content-area .cart-content-inner .bottom-content .right-content-area .btn-wrapper .boxed-btn {
        width: 100%;
        margin: 0px;
        margin-bottom: 20px;
    }
    .cart-content-area .cart-content-inner .bottom-content .right-content-area .cart-total {
        margin-top: 20px;
    }
    .cart-content-area .right-content-area {
        width: 100%;
    }
    .cart-content-area .cart-content-inner .bottom-content .right-content-area .cart-total {
        width: 100%;
    }
    .banner h1 {
        line-height: 40px;
        font-size: 30px;
        margin-bottom: 40px;
    }
    .banner .tagline {
        font-size: 14px;
        line-height: 24px;
    }
    .banner .links a {
        width: 140px;
        height: 45px;
        line-height: 45px;
        margin-right: 10px;
        font-size: 14px;
    }
    .banner {
        padding: 114px 0px 150px;
    }
    .services .sBox .img {
        width: 100px;
        height: 100px;
    }
    .services .sBox .img::before {
        width: 120px;
        height: 120px;
    }
    .services .sBox .img img {
        width: 45px;
        height: 45px;
    }
    .openingLeft .right h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .openingLeft .right {
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
        width: 262px;
        height: 261px;
        padding: 50px 30px 50px;
    }
    
    h2 {
        font-size: 36px;
    }
    .services {
        padding: 130px 0px 55px;
    }
    .giftCard {
        padding: 115px 0px 90px;
    }
    .giftCard .mycard .cardContent a {
        width: 130px;
        height: 45px;
        font-size: 14px;
        line-height: 45px;
    }
    .videoContent .icon i {
        width: 65px;
        height: 65px;
        line-height: 61px;
    }
    .video h2 {
        font-size: 24px;
    }
    .counter i {
        font-size: 60px;
    }
    .openingChart .title h2{
        font-size: 30PX;
    }
    .openingChart .content .link {
        width: 150px;
        height: 45px;
        line-height: 45px;
        font-size: 14px;
    }
    .team {
        padding: 60px 0px 60px;
    }
    .appoinmentBox .left h2 {
        font-size: 25px;
    }
    .appoinmentBox .left span {
        font-size: 25px;
    }
    .category-content-area h4 {
        font-size: 16px;
    }
    .single-new-collection-item .content .price span.sprice {
        font-size: 14px;
    }
    .blogDetails .details-sulf ul li a {
        font-size: 14px;
    }
    .spabreadcrumb h2 {
        margin-bottom: 15px;
        font-size: 30px;
    }
 }

 @media (max-width: 414px) {
    .banner .links a {
        width: 130px;
        font-size: 14px;
    }
    .banner .links .link2{
        margin-right: 0px;
    }
    .banner h1 {
        line-height: 45px;
        font-size: 25px;
    }
    .service .box1 .h2 .count {
        font-size: 32px;
    }
    h2 {
        font-size: 30px;
    }
    .video .v-box h2 {
        font-size: 24px;
    }
    .counter span {
        font-size: 30px;
    }
    .counter sup {
        font-size: 24px;
    }
    .counter h3 {
        font-size: 16px;
    }
    .counter .c-box {
        padding: 41px 15px 45px;
    }
    
    .pricePlan .p_box .doller span {
        font-size: 45px;
    }
    .pricePlan .p_box h3 {
        font-size: 22px;
    }
    .checkout-page-content-area .account .checkbox-wrapper {
        display: flow-root;
        margin-bottom: 20px;
    }
    .checkout-page-content-area .left-content-area .title {
        font-size: 24px;
    }
    .checkout-page-content-area .right-content-area .title {
        font-size: 24px;
    }
    .checkout-page-content-area .left-content-area .shipping-details .title {
        font-size: 24px;
    }
    .checkout-page-content-area .right-content-area .btn-wrapper .submit-btn {
        width: 265px;
        border-radius: 4px;
        letter-spacing: 0px;
        margin-top: 4px;
        font-size: 14px;
        height: 59px;
        width: 200px;
    }
    
    .blog-box h3 {
        font-size: 20px;
    }
    .categories h3, .relative h3, .blogDetails .teg h3, .blogDetails .comment-text h3, .blogDetails .commentForm h3, .blogDetails .details-sulf h3 {
        font-size: 20px;
    }
    .blogDetails .commentForm .submitcomment {
        width: 200px;
        height: 50px;
    }
    .appoinmentBox .left h2 {
        font-size: 24px;
        line-height: 24px;
    }
    .pricePlan .p_box .title i {
        font-size: 60px;
    }
    .spabreadcrumb {
        padding: 110px 0px 114px;
    }
    .category-content-area .bottom-content .col-6{
        flex: 100%;
        max-width: 100%;
    }
    .videoContent .icon i {
        width: 50px;
        height: 50px;
        line-height: 46px;
    }
    .giftCard {
        padding: 111px 0px 90px;
    }
    .pricePlan {
        padding: 110px 0px 90px;
    }
    .news {
        padding: 111px 0px 90px;
    }
    .serviceSection {
        padding: 60px 0px 60px;
    }
    .product-details-area .item_review_content .product-specification li .single-spec .heading {
        min-width: 175px;
    }
    
 }

 @media (max-width: 450px) {
    .blogDetails .ma-l {
        margin-left: 50px;
    }
    .blogDetails .details-sulf ul li {
        padding: 0 1px;
    }
 }

 @media (max-width: 368px) {
    .service .s-box h3 {
        font-size: 20px;
        margin-bottom: 6px;
    }
    .topElement {
        display: flow-root!important;
    }
    .category-content-area .topElement select {
        width: 100%;
    }
    .category-content-area .topElement .right p {
        margin-top: 24px;
    }
    .product-details-content-area .right-content-area .top-content .orders {
        padding: 8px 12px;
        border-radius: 6px;
        margin-left: 15px;
        font-size: 12px;
    }
    .product-details-content-area .right-content-area .bottom-content .price-area .right .size {
        display: inline-block;
        width: 100px;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
        letter-spacing: 0px;
        position: relative;
        top: -12px;
    }
    .product-details-content-area .right-content-area .bottom-content .paction .activities li:first-child {
        margin-left: 10px;
    }
    .product-details-content-area .right-content-area .bottom-content .paction .activities li {
        margin: 0 5px;
    }
    .cart-content-area .cart-content-inner .bottom-content .left-content-area .coupon-code-wrapper .submit-btn {
        width: 135px;
        letter-spacing: 0px;
        font-size: 12px;
    }
    .cart-content-area .cart-content-inner .bottom-content .right-content-area .cart-total .cart-list li .right {
        margin-left: 10px;
    }
    .cart-content-area .cart-content-inner .bottom-content .right-content-area .cart-total .cart-list li {
        font-size: 14px;
    }
    .error-404-content-area .right-content-area .details {
        font-size: 18px;
    }
    .banner .tagline {
        font-size: 14px;
        line-height: 24px;
    }
    .checkout-page-content-area .right-content-area .credit-card-area .right-content ul li {
        margin: 0 0px;
    }
 }
 
 @media (max-width: 480px) {
    .team .t-box {
        display: flow-root;
        text-align: center;
    }
    .team .t-box .img {
        text-align: center;
        display: inline-block;
        margin-left: 45px;
    }
    .team .t-box {
        margin-bottom: 37px;
    }
    .team .t-box .right h4 {
        margin-top: 15px;
    }

    .logRegForm .contact_form_wrappre2 {
        padding: 60px 30px 60px;
    }


}


 @media (max-width: 320px){
    .pricePlan .p_box .title p {
        font-size: 14px;
    }
    .pricePlan .p_box h3 {
        font-size: 20px;
    }
    .pricePlan .p_box .doller span {
        font-size: 40px;
    }
    .banner h1 {
        line-height: 35px;
        font-size: 30px;
    }
    .video h2 {
        font-size: 20px;
    }
    .team {
        padding: 60px 0px 60px;
    }
    .appoinmentBox .left h2 {
        font-size: 24px;
        line-height: 30px;
    }
    .pricePlan .p_box .list li {
        font-size: 14px;
    }
    .pricePlan .p_box {
        padding: 52px 15px 60px;
    }
    .openingChart .content {
        padding: 44px 20px 50px;
    }
    .openingChart .content .time li {
        font-size: 18px;
    }
    
    .banner h1 {
        font-size: 25px;
    }
 }

